body{
    background-color:whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    border: 5px solid black;
    margin: 15px;
    padding: 30px;
    text-align: center;
}

ol{
    list-style-position: inside;
    padding-inline-start: 0;

}

ul{
    list-style-position: inside;
    padding-inline-start: 0;
}
/*this is a comment*/

.mydiv {
    border: 5px outset black;
    background-color: grey;
    text-align: center;
    
}

